@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@700&display=swap');

@import './profil.css';
@import './log.css';
@import './home.css';
@import './nav.css';


*,::before,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

ul{
    list-style: none;
}

a{
   text-decoration: none;
}

button{
    cursor: pointer;
}

:root{
    --main-color-1: #fd424e;
    --main-color-2: #5c415d;
    --main-color-3: #f6f7eb;
    --main-color-4: #191919;
    --main-color-5: #EDB45D;
}

.br{
    border: 1px solid #333;
}

.header__content{
    width: 100%;
    background: var(--main-color-1);
    box-shadow: -2px 11px 17px -1px rgba(0,0,0,0.35);
    z-index: 100;
    position: sticky;
    top: 0;
}